body{
    margin: 0;
    background: #ddd;
}

/* top navigation */

header {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    height: 80px;
    /* box-shadow: 0px 1px 15px 1px #888; */
}
.topbar .menu{
    margin-top: 20px;

}



.topbar .menu button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    left: 30%;
}

.cart__box {
    background-color: #35363a;
    width:100%;
}
.cart__box {
    height: 100%;
}
.cart__box .fa {
    color: #fff;
    background: none;
    position: relative;
    top: 20px;
    left: 30%;
    font-size: 30px;
}

.cart__box .cart__total {
    color: #fff;
    display: block;
    margin-left: 120px;
    font-weight: bolder;
    font-size: 12px;
}

.cart__box span {
    background: none;
    color: #35363a;
    font-size: 15px;
    position: absolute;
    top: 12px;
    left: 10px;
}

.logo {
    position: absolute;
    margin-top: 10px;
    width:100px;
    z-index: 2;
}
@media only screen and (max-width: 768px) {
.logo {
    position: relative;
    left: 35%;
}
.topbar .menu button {
    margin-top: 10px;
    width: 50px;
}
.cart__box .cart__total {
    margin-top: 25px;
    margin-left: 20%;
}
}

/* Right Section */
.container__box .box{
    display: block;
    text-align: center;
    color: #fff;
    width: 25%;
}
.container__box .box__one {
    position: fixed;
    bottom: 100px;
    height: 100px;
    background: rgba(255, 167, 0, 0.6)url(../images/lady-on-nike-sneaker.jpg) no-repeat center;
}
.container__box .box__two {
    position: fixed;
    bottom: 0;
    background: rgb(0, 0, 0, 0.6) url(../images/man-on-nike-sneaker.jpg) no-repeat center;
    height: 100px;
}

.container__box p {
    font-size: 30px;
    margin-top:25px;
}
.container__box a {
    text-decoration: none;
    font-weight: 900;
}
@media only screen and (min-width: 768px) {
    .container {
        display:grid;
        grid-template-columns: 15% 65% 20%;
        /* height: 87vh; */
        }
     .dotted__box .dots {
            display: block;
            margin: 10px;
    }
    aside .dotted__box {
    position: fixed;
    bottom: 50px;
    left: 4%;
    }
    .top__menu {
        border-right: 1px solid #509197;
    }
    aside {
        border-right: 1px solid #509197;
    }
    .banner__img {
        width: 100%;
        height: 100%;
    }
    .navigation__menu {
        position: absolute;
        background:linear-gradient(rgb(240,153,60),rgb(244,181,114));
        height: 100%;
        left: -150px;
        z-index: 1;
        }
}
@media only screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-rows: 10% 70% 20%;
        height: 87vh;   
    }     
    .container__box .box {
        width: 100%;
    }
    aside .dotted__box {
        display: none;
    }
    .banner__img {
        width: 100%;
        height: 70%;
        background-size: contain;
    }
    .navigation__menu {
        position: absolute;
        background:linear-gradient(rgb(240,153,60),rgb(244,181,114));
        left: -150px;
        z-index: 1;
        }
}



/* Left Section */

.banner .main_text {
    font-size:50px;
    color: #000;
    font-weight: 400;
    
}
.banner {
    overflow: hidden;
    height: 100vh;
    margin-top: -80px;
}
.collection {
    position: absolute;
    top:20em;
    left: 20%;
}
.collection .fa {
 margin-left: 15px;
}
.collection a {
    background-color: rgba(255, 167, 0);
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}


/* Navigation */

.navigation__menu ul li {
    padding: 10px 0 10px 0;
}

.navigation__menu ul {
    width: 150px;
    text-align: center;
    list-style-type: none;
    margin-top: 100px;
    color: #fff;
    padding: 0;
}
.navigation__menu a {
    text-decoration: none;
    color: #fff;
}
.navigation__menu ul li:hover {
    background: #000;
    
}

#menuToggle:checked ~ .navigation__menu {
    position: absolute;
    left: 150px;
    top: 0;
    animation:move 0.1s;
}

@keyframes move {
   from {left: 0px}

   to {left: 0px}
}
.menu__icon {
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    margin: 6px 6px 0 30%;
    border-radius: 5px;
}
#menuToggle {
    display: none;
}

/** All products page **/

.product__container {
    margin: 0 20px;
}




.cloth_img img {
    width: 100%;
    height: 150px;
}


@media only screen and (min-width: 768px) {
    .container__page {
        display: grid;
        grid-template-columns: 15% 15% 70%;
        height: 86vh;  
    }
    .cloth_text {
        margin-top: 140%;
        margin-left: 20px;
        }
        .cloth_img {
        width: 21%;
        float: left;
        height: 100%;
        margin: 50px 2% 10px 2%;
     }
     
        hr {
            width: 70px;
            margin-left: 30%;
        }
     
}
@media only screen and (max-width: 768px) {
    .cloth_text {
        margin-left: 20px;
        }
        .cloth_img {
            float: left;
            height: 100%;
            margin: 10px;
     }
     
    hr {
        width: 50%;
        margin-left: 25%;
    }
        
}

.cloth_img button {
    background: linear-gradient(45deg, #e4c52a 0%,#ffa751  100%);
color: white;
border: none;
padding: 10px 10px 10px 10px;
text-align: centre;
cursor: pointer;
width: 100%;
}



.cloth_img button:hover {
    background: linear-gradient(45deg, #ffa751 0%,#e4c52a  100%);
    

}



.cloth_img img:hover {
    opacity: 0.5;
}