<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cart</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="./css/css/all.css">
    <link rel='stylesheet' type='text/css' media='screen' href='./css/style.css'>
</head>
<body>
    
    <header>
        
        <div class="topbar top__menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu__icon fa fa-bars fa-2x"></label>
                <!-- <div class="menu"><button class="fa fa-bars fa-2x"></button></div> -->
                <nav class="navigation__menu">
                        <ul>
                                
                                <a href="#"><li>Home</li></a>
                                <a href="#"><li>All Products</li></a>
                                <a href="#"><li>About us</li></a>
                                <a href="#"><li>Contact us</li></a>
                                <a href="#"><li>Login/Sign Up</li></a>
                            </ul>   
                        </nav>
        </div>
        
        <div class="topbar"> <img class="logo" src="images/eclassic.png" alt="Eclassic logo"> </div>
        
        <div class="topbar">
            <div class="cart__box">
               <i class="fa fa-shopping-bag fa-3x"><span>5</span></i>
               <div class="cart__total">150.55 $</div>
            </div>
        </div>
    </header>
    <main class="container__section">
        <aside class="container__box">
            <div class="dotted__box">
                    <div class="dots fa  fa-circle fa-1x"></div>
                    <div class="dots far fa-circle  fa-1x"></div>
                    <div class="dots far fa-circle  fa-1x"></div>
                    <div class="dots far fa-circle  fa-1x"></div>
                    <div class="dots far fa-circle  fa-1x"></div>
                    <div class="dots far fa-circle  fa-1x"></div>
            </div>
        </aside>
        <div class="container__box cart__items">
            <h1>Cart</h1>
            <p>here you can check your order with futher confirmation and payment</p>
            <div class="l_box">
            <img src="./images/lady-on-nike-sneaker.jpg">
            <table cellpadding="6">
                <tr><th width="200">New Product</th> <th>Size</th><th>Quantity</th> <th>Cost</th></tr>
                <tr><td>Modern Line</td><td>M</td>
                    <td>
                    <form>
                    <div class="value-button" id="decrease">-</div>
                            <input type="number" id="number" value="0" />
                            <div class="value-button" id="increase">+</div>
                        </form>
                    </td><td>52.99$</td></tr>
            </table>
            <div class="remove__btn fa fa-times"></div>
            </div>

            <div class="l_box">
                    <img src="./images/lady-on-nike-sneaker.jpg">
                    <table cellpadding="6">
                        <tr><th width="200">New Product</th> <th>Size</th><th>Quantity</th> <th>Cost</th></tr>
                        <tr><td>Modern Line</td><td>M</td>
                            <td>
                                    <form>
                                            <div class="value-button" id="decrease">-</div>
                                                    <input type="number" id="number" value="0" />
                                                    <div class="value-button" id="increase">+</div>
                                      </form>
                            </td>
                            <td>52.99$</td></tr>
                    </table>
        
                    <i class="fa fa-times"></i>
            </div>
                <div class="back__to__product"><a href="#"><i class="fa fa-arrow-left"></i>Back to product</a></div>                   
                                       
            </div>
            
        <div class="container__box">

            <div class="quantity">
        <table cellspacing="20">
       
                <tr><td>Quantity</td> <td >5</td></tr>

                <tr><td>Total</td> <td >134.48&dollar;</td></tr>

                <tr><td>Discount</td> <td>-5.33</td></tr>
                <tr><td></td> <td></td></tr>
                <tr><td></td> <td></td></tr>
              
                <tr><td>To Pay</td> <td>119.48&dollar;</td></tr>
            </th>
            
        </table>
            </div>

            <button>Checkout <i class="fa fa-arrow-right fa-1x"></i><span class="amount__btn">$25000</span></button>
        </div>

        </main>  
  
</body>
</html>